<!DOCTYPE html>
<html>
<body>
        <div>
            <ul class="nav nav-pills">
                <li class="active"><a href="#qa" data-toggle="tab" aria-expanded="true">QA</a></li>
                <li class=""><a href="#uat" data-toggle="tab" aria-expanded="false">UAT</a></li>
                <li class=""><a href="#prod" data-toggle="tab" aria-expanded="false">PROD</a></li>
            </ul>          
            <div id="myTabContent" class="tab-content">               
                <div class="tab-pane fade active in" id="qa">
                    <form role="form">
                        <div class="form-group">
                            <input id="searchinput" class="form-control" type="search" placeholder="Search..." [(ngModel)]="searchText" />
                        </div>                       
                        <div id="searchlist" class="list-group">
                            <a class="list-group-item" href="#" *ngFor="#server of servers | filter: searchText" [routerLink]="['Others']"><span>{{server.MachineNameAlias}}</span></a>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="uat">
                    <form role="form">
                        <div class="form-group">
                            <input id="searchinput" class="form-control" type="search" placeholder="Search..." />
                        </div>
                        <div id="searchlist" class="list-group">
                            <a class="list-group-item" href="#" *ngFor="#server of servers" [routerLink]="['Others']"><span>{{server.MyRegionCode}}</span></a>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="prod">
                    <form role="form">
                        <div class="form-group">
                            <input id="searchinput" class="form-control" type="search" placeholder="Search..." />
                        </div>
                        <div id="searchlist" class="list-group">
                            <a class="list-group-item" href="#" *ngFor="#server of servers" [routerLink]="['Others']"><span>{{server.IPAddress}}</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $('#searchlist').btsListFilter('#searchinput', { itemChild: 'span' });
        </script>

</body>
</html>
